button {
    border: none;
    border-radius: 3px;
    outline: none;
    background: darkslateblue;
    color: white;
    margin: 5px;
    transition: background 0.1s;
}

button:focus {
    outline: none;
}

button:hover, .selected {
    background: deepskyblue;
}

img {
    /* max-width: 210px; */
    max-height: 160px;
}

input {
    margin-top: .375rem;
}

.hide {
    display: none;
}


#gif-container > p {
    display: inline-block;
}

.result {
    display: inline-block;
    margin: 10px;
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    #gif-container {
        text-align: center;
    }
}